<header>
	<a id=nav-logo href=/>
		<img src=img/pgs-icon.png>
		<span class=pgs-name>
			<span class=pgs-purple>purple</span><span class=pgs-ghost>ghost</span>
		</span>
	</a>
	<nav>
		<span class=link id=nav-email-link>Contact</span>
	</nav>
</header>
